static/source/jade/html/pages/pageCart/pageCart1.jade
block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap
        .cart-wrap
            .justifyed.cart
                .cart-content
                    h2 My Barrow
                    form(action="" method="")
                        ul.cart--list
                            li.cart--list__el.caption.justifyed
                                .cart--list__el--product
                                    span product
                                .cart--list__el--quanity
                                    span quanity
                                .cart--list__el--price
                                    span price

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_01")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"


                                .cart--list__el--price
                                    span HR$100

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_02")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"

                                .cart--list__el--price
                                    span HR$100

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_02")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"

                                .cart--list__el--price
                                    span HR$100

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_02")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"

                                .cart--list__el--price
                                    span HR$100

                .cart-summ
                    h2 Summary
                    .cart-summ__position.justifyed
                        span
                            strong Basket Total
                        span.value HK$201.50

                    .cart-summ__position.justifyed
                        span Estimated Delivery
                        span.value HR$0.00

                    .cart-summ__position.total.justifyed
                        span
                            strong Final Total
                        span.value HR$201.50

                    .cart-summ__payment
                        a(href="").btn-gold Checkout  now

                        ul.payment--method
                            li
                                img(src="../../../img/icon--payment-vs.jpg" alt /)
                            li
                                img(src="../../../img/icon--payment-mc.jpg" alt /)
                            li
                                img(src="../../../img/icon--payment-ms.jpg" alt /)



            ul.card-banners
                li

                    img(src="../../../img/card--banner-1.jpg" alt /)
                    div
                        span.title FREE Delivery  for Mainland UK Deliveryies Over $50
                        span.title Need to speak us?
                        span Our customer helping  is 020 7265 2470

                li
                    img(src="../../../img/card--banner-2.jpg" alt /)
                    div
                        span.title Is your purchase  s Gift?
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cart1.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});

static/html/pages/pageCart/pageCart1.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" viewport="width=device-width">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="../../../js/app-common.js"></script>
    <script src="../../../js/modernizr.custom.js"></script>
    <script src="../../../js/classie.js"></script>
    <script src="../../../js/mlpushmenu.js"></script>
    <script src="../../../js/app.js"></script>
    <script src="../../../js/jquery.pixlayout.0.9.6.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main>
      <div class="container">
        <div id="mp-pusher" class="mp-pusher">
          <nav id="mp-menu" class="mp-menu">
            <div data-level="1" class="mp-level">
              <ul>
                <li><a href="" class="icon icon-arrow-left">All wines</a>
                  <div data-level="2" class="mp-level">
                    <h2>All wines</h2>
                    <ul>
                      <li><a href="" class="icon icon-arrow-left">Wine Type
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Wine Type</h2>
                            <ul>
                              <li><a href="">Red wine</a></li>
                              <li><a href="">White wine</a></li>
                              <li><a href="">Sparkling wine</a></li>
                              <li><a href="">Champagne</a></li>
                              <li><a href="">View all</a></li>
                            </ul>
                          </div></a></li>
                      <li><a href="" class="icon icon-arrow-left">Grape Type
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Grape Type</h2>
                            <ul>
                              <li><a href="">Malbec Blend</a></li>
                              <li><a href="">Pinot Noir</a></li>
                              <li><a href="">Merlot</a></li>
                              <li><a href="">A grape type</a></li>
                            </ul>
                          </div></a></li>
                      <li><a href="" class="icon icon-arrow-left">Country
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Country</h2>
                            <ul>
                              <li><a href="">France</a></li>
                              <li><a href="">Italy</a></li>
                              <li><a href="">Spain</a></li>
                              <li><a href="">Portugal</a></li>
                              <li><a href="">View all</a></li>
                            </ul>
                          </div></a></li>
                      <li><a href="" class="icon icon-arrow-left">Popular Regions
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Popular Regions</h2>
                            <ul>
                              <li><a href="">Bordeaux</a></li>
                              <li><a href="">Burgundy</a></li>
                              <li><a href="">Rhone Valley</a></li>
                              <li><a href="">Champagne</a></li>
                            </ul>
                          </div></a></li>
                      <li><a href="" class="icon icon-arrow-left">Exclusice Products
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Exclusice Products</h2>
                            <ul>
                              <li><a href="">Petrus</a></li>
                              <li><a href="">Domain</a></li>
                              <li><a href="">Giacomo</a></li>
                              <li><a href="">Exclusice Products</a></li>
                              <li><a href="">Exclusice Products</a></li>
                              <li><a href="">Exclusice Products</a></li>
                              <li><a href="">Exclusice Products</a></li>
                              <li><a href="">View all</a></li>
                            </ul>
                          </div></a></li>
                      <li><a href="" class="icon icon-arrow-left">Specialist Wine
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Specialist Wine</h2>
                            <ul>
                              <li><a href="">Vegeterian/ Vegan Wine</a></li>
                            </ul>
                          </div></a></li>
                      <li><a href="" class="icon icon-arrow-left">Fine Wine
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Fine Wine</h2>
                            <ul>
                              <li><a href="">Bordeaux</a></li>
                              <li><a href="">Burgundy</a></li>
                              <li><a href="">Rhone Valley</a></li>
                              <li><a href="">Champagne</a></li>
                              <li><a href="">France</a></li>
                              <li><a href="">Italy</a></li>
                            </ul>
                          </div></a></li>
                      <li><a href="" class="icon icon-arrow-left">Latest Releases
                          <div data-level="3" class="mp-level lev-three">
                            <h2>Latest Releases</h2>
                            <ul>
                              <li><a href="">En Primeur  Releases</a></li>
                              <li><a href="">Broking List</a></li>
                            </ul>
                          </div></a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="">Latest</a></li>
                <li><a href="">About wine</a></li>
                <li><a href="">Service</a></li>
                <li><a href="" class="icon icon-arrow-left">About us</a>
                  <div data-level="2" class="mp-level">
                    <h2>About us</h2>
                    <ul>
                      <li><a href="">About Us</a></li>
                      <li><a href="">Our Location</a></li>
                      <li><a href="">Careers</a></li>
                      <li><a href="">Meet The Team</a></li>
                      <li><a href="">FAQs</a></li>
                      <li><a href="">Contact us</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="scroller">
            <div class="scroller-inner">
              <header class="header">
                <div class="width-wrap justifyed"><a href="" id="trigger" class="menu-trigger open-menu"></a><a href="" class="header-logo"><img src="../../../img/logo.png" alt></a>
                  <div class="header__contacts">
                    <div class="header__contacts-phone"><a href="tel:85236943333">852-3694-3333</a><span>Phone order</span></div>
                    <div class="header__contacts-search">
                      <form action="" method="post" class="main-form">
                        <input type="text" name="search" class="inp required">
                        <input type="submit" value class="inp-submit js--form-submit">
                      </form>
                    </div>
                  </div>
                  <div class="header__right">
                    <div class="header__select grid">
                      <div class="header__select-el grid-item header__select-country"><img src="../../../img/icon--flag.png" alt><span>Hong Kong</span>
                        <div class="header__select-hidden">
                          <ul>
                            <li><a href=""><img src="../../../img/icon--flag.png" alt>Hong Kong</a></li>
                            <li><a href=""><img src="../../../img/icon--flag.png" alt>Singapore</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="header__select-el grid-item header__select-language"><span>English</span>
                        <div class="header__select-hidden">
                          <ul>
                            <li><a href="">English</a></li>
                            <li><a href="">Russian</a></li>
                            <li><a href="">方 廾</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="header__links grid">
                      <div class="header__select-el grid-item header__links-account"><a href="">Account</a>
                        <div class="header__select-hidden">
                          <ul>
                            <li><a href="">Login</a></li>
                            <li><a href="">Registration</a></li>
                            <li><a href="">Order tracking</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="header__select-el grid-item header__links-basket"><a href="">My barrow</a>
                        <div class="header__select-hidden">
                          <div class="header-baseket">
                            <ul class="header-baseket__list">
                              <li><a href=""><img src="../../img/" alt>
                                  <div><span class="header-baseket__list--title">Corney & Barrow House Claret  2010 Halves</span><span>1 item</span><span>HK $100</span></div></a></li>
                              <li><a href=""><img src="../../img/" alt>
                                  <div><span class="header-baseket__list--title">Corney & Barrow House Claret  2010 Halves</span><span>1 item</span><span>HK $100</span></div></a></li>
                            </ul>
                            <div class="header-baseket__total"><span>SUB TOTAL</span><span class="value">HK $200</span></div>
                            <div class="header-baseket__buttons"><a href="" class="btn btn-transparent">DETAILS</a><a href="" class="btn btn-purple">Checkout</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="header__basket"><a href=""><i>2</i> items</a></div>
                  </div>
                </div>
              </header>
              <div class="nav">
                <ul class="main-nav justifyed">
                  <li><a href="">All wines</a>
                    <div class="sub-menu">
                      <div class="sub-menu__col">
                        <h4>Wine Type</h4>
                        <ul>
                          <li><a href="">Red wine</a></li>
                          <li><a href="">White wine</a></li>
                          <li><a href="">Sparkling wine</a></li>
                          <li><a href="">Champagne</a></li>
                          <li><a href="" class="show-all">View all</a></li>
                        </ul>
                        <h4>Grape Type</h4>
                        <ul>
                          <li><a href="">Malbec Blend</a></li>
                          <li><a href="">Pinot Noir</a></li>
                          <li><a href="">Merlot</a></li>
                          <li><a href="">A grape type</a></li>
                        </ul>
                      </div>
                      <div class="sub-menu__col">
                        <h4>Country</h4>
                        <ul>
                          <li><a href="">France</a></li>
                          <li><a href="">Italy</a></li>
                          <li><a href="">Spain</a></li>
                          <li><a href="">Portugal</a></li>
                          <li><a href="" class="show-all">View all</a></li>
                        </ul>
                        <h4>Popular Regions</h4>
                        <ul>
                          <li><a href="">Bordeaux</a></li>
                          <li><a href="">Burgundy</a></li>
                          <li><a href="">Rhone Valley</a></li>
                          <li><a href="">Champagne</a></li>
                        </ul>
                      </div>
                      <div class="sub-menu__col">
                        <h4>Exclusice Products</h4>
                        <ul>
                          <li><a href="">Petrus</a></li>
                          <li><a href="">Domain</a></li>
                          <li><a href="">Giacomo</a></li>
                          <li><a href="">Exclusice Products</a></li>
                          <li><a href="">Exclusice Products</a></li>
                          <li><a href="">Exclusice Products</a></li>
                          <li><a href="">Exclusice Products</a></li>
                          <li><a href="" class="show-all">View all</a></li>
                        </ul>
                        <h4>Specialist Wine</h4>
                        <ul>
                          <li><a href="">Vegeterian/ Vegan Wine</a></li>
                        </ul>
                      </div>
                      <div class="sub-menu__col">
                        <h4>Fine Wine</h4>
                        <ul>
                          <li><a href="">Bordeaux</a></li>
                          <li><a href="">Burgundy</a></li>
                          <li><a href="">Rhone Valley</a></li>
                          <li><a href="">Champagne</a></li>
                          <li><a href="">France</a></li>
                          <li><a href="">Italy</a></li>
                        </ul>
                        <h4>Latest Releases</h4>
                        <ul>
                          <li><a href="">En Primeur  Releases</a></li>
                          <li><a href="">Broking List</a></li>
                        </ul>
                      </div>
                      <div class="sub-menu__col">
                        <h4>Promo</h4>
                        <div style="background: url(http://lorempixel.com/1920/700/food) no-repeat 50% 0;" class="promo"><span>Name of Wine</span></div><a href="" class="btn-purple">Shop now ></a>
                      </div>
                    </div>
                  </li>
                  <li><a href="">Latest</a></li>
                  <li><a href="">About wine</a></li>
                  <li><a href="">Service</a></li>
                  <li><a href="">About us</a></li>
                </ul>
              </div>
              <div class="width-wrap">
                <div class="cart-wrap">
                  <div class="justifyed cart">
                    <div class="cart-content">
                      <h2>My Barrow</h2>
                      <form action="" method="">
                        <ul class="cart--list">
                          <li class="cart--list__el caption justifyed">
                            <div class="cart--list__el--product"><span>product</span></div>
                            <div class="cart--list__el--quanity"><span>quanity</span></div>
                            <div class="cart--list__el--price"><span>price</span></div>
                          </li>
                          <li class="cart--list__el justifyed">
                            <div class="cart--list__el--product"><img src="../../../img/img--wine.jpg" alt />
                              <div><span class="cart--list__el--product-title">Corney & Barrow  House Claret 2010 Halves</span><span>Product Code 123456789 BOTTLE</span></div>
                            </div>
                            <div class="cart--list__el--quanity">
                              <div class="counter">
                                <input type="hidden" name="id" value="id_01">
                                <input type="text" name="wine_min" maxlength="4" value="1" class="inp input-number"><a href="" class="counter-add js--counter--button js-add"></a><a href="" class="counter-remove js--counter--button js-remove"></a>
                              </div><span>Bottle(s)</span><a href="" class="remove"><img src="../../../img/icon--close-s.jpg" alt /> Remove</a>
                            </div>
                            <div class="cart--list__el--price"><span>HR$100</span></div>
                          </li>
                          <li class="cart--list__el justifyed">
                            <div class="cart--list__el--product"><img src="../../../img/img--wine.jpg" alt />
                              <div><span class="cart--list__el--product-title">Corney & Barrow  House Claret 2010 Halves</span><span>Product Code 123456789 BOTTLE</span></div>
                            </div>
                            <div class="cart--list__el--quanity">
                              <div class="counter">
                                <input type="hidden" name="id" value="id_02">
                                <input type="text" name="wine_min" maxlength="4" value="1" class="inp input-number"><a href="" class="counter-add js--counter--button js-add"></a><a href="" class="counter-remove js--counter--button js-remove"></a>
                              </div><span>Bottle(s)</span><a href="" class="remove"><img src="../../../img/icon--close-s.jpg" alt /> Remove</a>
                            </div>
                            <div class="cart--list__el--price"><span>HR$100</span></div>
                          </li>
                          <li class="cart--list__el justifyed">
                            <div class="cart--list__el--product"><img src="../../../img/img--wine.jpg" alt />
                              <div><span class="cart--list__el--product-title">Corney & Barrow  House Claret 2010 Halves</span><span>Product Code 123456789 BOTTLE</span></div>
                            </div>
                            <div class="cart--list__el--quanity">
                              <div class="counter">
                                <input type="hidden" name="id" value="id_02">
                                <input type="text" name="wine_min" maxlength="4" value="1" class="inp input-number"><a href="" class="counter-add js--counter--button js-add"></a><a href="" class="counter-remove js--counter--button js-remove"></a>
                              </div><span>Bottle(s)</span><a href="" class="remove"><img src="../../../img/icon--close-s.jpg" alt /> Remove</a>
                            </div>
                            <div class="cart--list__el--price"><span>HR$100</span></div>
                          </li>
                          <li class="cart--list__el justifyed">
                            <div class="cart--list__el--product"><img src="../../../img/img--wine.jpg" alt />
                              <div><span class="cart--list__el--product-title">Corney & Barrow  House Claret 2010 Halves</span><span>Product Code 123456789 BOTTLE</span></div>
                            </div>
                            <div class="cart--list__el--quanity">
                              <div class="counter">
                                <input type="hidden" name="id" value="id_02">
                                <input type="text" name="wine_min" maxlength="4" value="1" class="inp input-number"><a href="" class="counter-add js--counter--button js-add"></a><a href="" class="counter-remove js--counter--button js-remove"></a>
                              </div><span>Bottle(s)</span><a href="" class="remove"><img src="../../../img/icon--close-s.jpg" alt /> Remove</a>
                            </div>
                            <div class="cart--list__el--price"><span>HR$100</span></div>
                          </li>
                        </ul>
                      </form>
                    </div>
                    <div class="cart-summ">
                      <h2>Summary</h2>
                      <div class="cart-summ__position justifyed"><span><strong>Basket Total</strong></span><span class="value">HK$201.50</span></div>
                      <div class="cart-summ__position justifyed"><span>Estimated Delivery</span><span class="value">HR$0.00</span></div>
                      <div class="cart-summ__position total justifyed"><span><strong>Final Total</strong></span><span class="value">HR$201.50</span></div>
                      <div class="cart-summ__payment"><a href="" class="btn-gold">Checkout  now</a>
                        <ul class="payment--method">
                          <li><img src="../../../img/icon--payment-vs.jpg" alt /></li>
                          <li><img src="../../../img/icon--payment-mc.jpg" alt /></li>
                          <li><img src="../../../img/icon--payment-ms.jpg" alt /></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <ul class="card-banners">
                    <li><img src="../../../img/card--banner-1.jpg" alt />
                      <div><span class="title">FREE Delivery  for Mainland UK Deliveryies Over $50</span><span class="title">Need to speak us?</span><span>Our customer helping  is 020 7265 2470</span></div>
                    </li>
                    <li><img src="../../../img/card--banner-2.jpg" alt />
                      <div><span class="title">Is your purchase  s Gift?</span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></div>
                    </li>
                  </ul>
                </div>
              </div>
              <script type="text/javascript">$(function(){$.pixlayout({src: "../../../img/temp/cart1.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});</script>
              <div class="psevdofooter"></div>
              <footer class="footer">
                <div class="width-wrap">
                  <div class="justifyed">
                    <div class="footer--corney">
                      <h3>CORNEY & BARROW</h3>
                      <p>Every delicious bottle of wine from Corney & Barrow represents what we believe to be outstanding quality and value. Fine wine, timeless classics, and the very best in easy-drinking at everyday prices. Independent wine merchants since 1780, our service is defined by the quality of our people, our products, and you, our customers.</p><a href="tel:85236943333">852-3694-3333</a>
                    </div>
                    <div class="footer--about">
                      <h3>About Us</h3>
                      <ul>
                        <li><a href="" class="footer-link">Asia</a></li>
                        <li><a href="" class="footer-link">Our Blog</a></li>
                        <li><a href="" class="footer-link">Our Bars</a></li>
                        <li><a href="" class="footer-link">Trade</a></li>
                        <li><a href="" class="footer-link">On Trade</a></li>
                        <li><a href="" class="footer-link">Our History</a></li>
                        <li><a href="" class="footer-link">The Bunch</a></li>
                      </ul>
                    </div>
                    <div class="footer--contact">
                      <h3>Contact Us</h3>
                      <ul>
                        <li><a href="" class="footer-link">Our Loaction</a></li>
                        <li><a href="" class="footer-link">Newmarket Wine Shop</a></li>
                        <li><a href="" class="footer-link">Ayr Wine Shop</a></li>
                        <li><a href="" class="footer-link">Meet the Team</a></li>
                        <li><a href="" class="footer-link">Your Feedback</a></li>
                        <li><a href="" class="footer-link">Sell Your Wine</a></li>
                        <li><a href="" class="footer-link">Request  a Price list</a></li>
                      </ul>
                    </div>
                    <div class="footer--help">
                      <h3>Help</h3>
                      <ul>
                        <li><a href="" class="footer-link">Popular Searches</a></li>
                        <li><a href="" class="footer-link">FAQs</a></li>
                        <li><a href="" class="footer-link">Wine Delivery</a></li>
                        <li><a href="" class="footer-link">Returns Policy</a></li>
                        <li><a href="" class="footer-link">Terms & conditions</a></li>
                        <li><a href="" class="footer-link">Cookies &  Privacy</a></li>
                      </ul>
                    </div>
                    <div class="footer--beginner">
                      <h3>New to C&B?</h3>
                      <div class="footer-form">
                        <form action="" method="post" class="main-form"><span>Sign up for latest offers, news and events</span><span><i>I am interested in:</i></span>
                          <label>
                            <input type="checkbox" name="everyday" class="inp-hidden">
                            <div class="justifyed"><span>Every Day Drinking Wine</span>
                              <div class="psevdocheckbox"></div>
                            </div>
                          </label>
                          <label>
                            <input type="checkbox" name="finewine" class="inp-hidden">
                            <div class="justifyed"><span>Fine Wine (Including en primeur or broking)</span>
                              <div class="psevdocheckbox"></div>
                            </div>
                          </label>
                          <label class="label-mail">
                            <input type="text" name="mail" placeholder="Your Email Address" class="inp required"><a href="" class="js--form-submit">Sign Up</a>
                          </label>
                        </form>
                      </div>
                      <ul class="footer-social">
                        <li><a href="" class="footer-social--tw"></a></li>
                        <li><a href="" class="footer-social--fb"></a></li>
                        <li><a href="" class="footer-social--yo"></a></li>
                        <li><a href="" class="footer-social--gm"></a></li>
                      </ul>
                    </div>
                  </div><span class="footer-copyright">Copyright Corney & Barrow 2015 All Rights Reserved</span>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
