static/source/jade/html/index.jade
block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages
            a.list-group-item(href="pages/pageFront/pageFront.html")
                h4 HomePage

            a.list-group-item(href="pages/pageAbout/pageAbout.html")
                h4 About-about us

            a.list-group-item(href="pages/pageAbout/pageCareer.html")
                h4 About-career

            a.list-group-item(href="pages/pageAbout/pageLocation.html")
                h4 About-location

            a.list-group-item(href="pages/pageCategory/pageCategory.html")
                h4 Category

            a.list-group-item(href="pages/pageProduct/pageProduct.html")
                h4 Product

            a.list-group-item(href="pages/pageService/pageService.html")
                h4 Service

            a.list-group-item(href="pages/pageCart/pageCart1.html")
                h4 Cart 1

            a.list-group-item(href="pages/pageCart/pageCart2.html")
                h4 Cart 2

            a.list-group-item(href="pages/pageCart/pageCart3.html")
                h4 Cart 3

            a.list-group-item(href="pages/pageChart/pageChart.html")
                h4 Chart


        //- h3 UI kit
        //-     .list-group
        //-         a.list-group-item(href="/static/html/ui/preloader/preloader.html")
        //-             h4 Индикатор загрузки

static/html/index.html

<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>DEV</title>
    <!--choose theme http://www.bootstrapcdn.com/#bootswatch_tab-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/lumen/bootstrap.min.css"/>
    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Верстка по макетам</h1>
      </div>
      <div class="list-group">
        <div class="list-group-item active">Pages</div><a href="pages/pageFront/pageFront.html" class="list-group-item">
          <h4>HomePage</h4></a><a href="pages/pageAbout/pageAbout.html" class="list-group-item">
          <h4>About-about us</h4></a><a href="pages/pageAbout/pageCareer.html" class="list-group-item">
          <h4>About-career</h4></a><a href="pages/pageAbout/pageLocation.html" class="list-group-item">
          <h4>About-location</h4></a><a href="pages/pageCategory/pageCategory.html" class="list-group-item">
          <h4>Category</h4></a><a href="pages/pageProduct/pageProduct.html" class="list-group-item">
          <h4>Product</h4></a><a href="pages/pageService/pageService.html" class="list-group-item">
          <h4>Service</h4></a><a href="pages/pageCart/pageCart1.html" class="list-group-item">
          <h4>Cart 1</h4></a><a href="pages/pageCart/pageCart2.html" class="list-group-item">
          <h4>Cart 2</h4></a><a href="pages/pageCart/pageCart3.html" class="list-group-item">
          <h4>Cart 3</h4></a><a href="pages/pageChart/pageChart.html" class="list-group-item">
          <h4>Chart</h4></a>
      </div>
    </div>
  </body>
</html>
